@model MVCManukauTech.Models.DB.Page

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<script src="~/js/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector:"textarea#Detail",
        plugins:"link lists table image"
    });
</script>

<h4>Page</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" style="display:none;">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
                <textarea name="Detail" id="Detail" class="form-control">@Model.Detail</textarea>
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

